[Desktop Entry]
Type=Application
Name=Irate Goose
Comment=GUI to configure virtual surround sound capabilities of Pipewire
Exec={EXEC}
Icon=barafu-irategoose
Categories=AudioVideo;Audio;
Terminal=false
StartupNotify=false
StartupWMClass=irate_goose
SingleMainWindow=true
X-AppImage-Version={VERSION}
X-AppImage-Name=Irate Goose
X-AppImage-Comment=GUI to configure virtual surround sound capabilities of Pipewire
