[Desktop Entry]
Type=Application
Name=IrateGoose
Comment=GUI to configure virtual surround sound capabilities of Pipewire
Exec={EXEC}
Icon=barafu-irategoose
Categories=AudioVideo;Audio;
Terminal=false
StartupNotify=false
StartupWMClass=irate_goose
SingleMainWindow=true
