# .github/workflows/release.yml

on:
  release:
    types: [created]

jobs:
  release:
    name: irate_goose
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@master
      - name: Updatecargo  version
        run: rustup update cargo
      - name: Update rust toolchain version
        run: rustup update
      - name: Compile and release
        uses: rust-build/rust-build.action@v1.4.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          RUSTTARGET: x86_64-unknown-linux-musl
